@darkBrown: #494644;
@gray: #AFB1B3;
@lightGreen: #88B7B1;

body{
	font-family: sans-serif;
	font-size: 14px;
}
.container {
	width: 980px;
	margin: 0 auto;
}
.pasteee {
	background: @darkBrown;
	width: 980px;
	height: 84px;
	display: table-cell;
	vertical-align: middle;
	input[type=text] {
		margin: 0 50px;
		width: 880px;
		border: none;
		border-bottom: 1px solid @gray;
		background: transparent;
		color: @lightGreen;
		&:focus{
			outline: none;
			border: none;
			border-bottom: 1px solid @gray;
		};
	}
}

input[type=text]{
	width: 600px;
	margin-top: 10px;
}
input[type=submit]{
	margin-top: 10px;
}

a{
	color: @darkBrown;
	text-decoration: none;
}
.link-wrapper{
	position: relative;
	float: left;
	width: 85%;
	height: 110px;
	margin-top: 10px;
	background: #ddd;
	border-radius: 0px;
}
.link-space {
	margin: 30px 0 50px 50px;
	a {
		font-size: 26px;
	}
}
.link-attr{
	color: #888;
	font-size: 12px;
}

.delete a{
	position: absolute;
	margin-top: 10px;
	font-size: 10px;
	color: #fff;
	margin-left: 0;
}
.delete a:hover{
	text-decoration: underline;
}
.delete a:visited{

	color: #999;
}

.comments {
	display: table-cell;
	float: left;
	width: 15%;
	height: 110px;
	margin-top: 10px;
	background: #a4a6a9;
	vertical-align: middle;
	text-align: center;
}
.comments-inner{
	line-height: 110px;
}
